/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu-side,
.song-side {
    width: 25%;
    height: 90%;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
    /* background: url(https://1.bp.blogspot.com/-ZdWQR6w2qoc/YBfjzNvJMaI/AAAAAAAAGZA/w10YCt5MKi4bc4PD2W-4NbGgBNP6hAKLACLcBGAsYHQ/s1065/129760556_2801672243409049_6700178148948935527_n.jpg); */
    background: url(./OIP.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.9; */
}

header .song-side {
    width: 75%;
    background: #0b1320;
    overflow: auto;
}
header .song-side::-webkit-scrollbar{
    display: none;
}
header .master-play {
    width: 100%;
    height: 10%;
    /* background: #111727; */
    background: rgba(137, 43, 226, 0.277);
    box-shadow: 0px 3px 8px #090f1f;
}
header .menu-side .logo{
    display: flex;
    justify-content: left;
}
header .menu-side .logo img{
    width: 50px;
    border-radius: 50%;
}
header .menu-side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu-side .playlist {
    margin: 40px 0px 0px 20px;
}

header .menu-side .playlist h4 {
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 10px;
    /* color: #4c5262; */
    color: orange;
    cursor: pointer;
    /* display: flex; */
    /* align-items: center; */
    transition: .3s linerar;
}

header .menu-side .playlist h4:hover {
    color: #fff;
}

header .menu-side .playlist h4 .bi {
    display: none;
}

header .menu-side .menu-song {
    width: 100%;
    height: 460px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: auto;
}

header .menu-side .menu-song::-webkit-scrollbar {
    display: none;
}

header .menu-side .menu-song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu-side .menu-song li:hover {
    background: rgb(105, 105, 105, .1);
}

header .menu-side .menu-song li span {
    font-size: 12px;
    font-weight: 600;
    /* color: #4c5262; */
    color: white;
}

header .menu-side .menu-song li img {
    width: 50px;
    margin-left: 25px;
}

header .menu-side .menu-song li h5 {
    font-size: 13px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .menu-side .menu-song li h5 .subtitle {
    font-size: 10px;
    color: #4c5262;
}

header .menu-side .menu-song li .bi {
    position: absolute;
    right: 15px;
}

header .master-play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master-play img {
    height: 25px;
    width: 35px;
}

header .master-play h5 {
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

header .master-play h5 .subtitle {
    font-size: 10px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .master-play .icon {
    font-size: 21px;
    color: #fff;
    margin: 0px 28px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}

header .master-play .icon .bi {
    cursor: pointer;
    outline: none;
}

header .master-play .icon .shuffle {
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header .master-play .icon #download-music {
    font-size: 20px;
    margin-left: 10px;
}



header .song-side {
    z-index: 2;
}

header .song-side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    /* background: url(./OIP.jpg); */
    /* background: url(https://th.bing.com/th/id/OIP.-68_-G25xV5LLRR6gzd77gHaEK?pid=ImgDet&rs=1); */
    /* background: url(./bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: -1;

}

header .song-side #nav {
    width: 90%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    /* border-bottom: 1px solid white; */

}

/* header .song-side nav ul {
    display: flex;
} */

header .song-side #nav ul li {
    list-style: none;
    position: relative;
    font-size: 17px;
    color: white;
    /* color: orange; */
    margin-right: 25px;
    transition: .3s linear;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid white;
}
header .song-side #nav ul li:hover{
    color: gray;
}
header .song-side #nav ul li ul.dropdown li{
    display: block;
}
header .song-side #nav ul li ul.dropdown{
    position: absolute;
    z-index: 77;
    display: none;
}

header .song-side #nav ul li a{
    color: white;
    font-size: 12px;
    display: block;
    text-decoration: none;
    text-align: center;
    align-items: center;
    /* background: blue; */
}

header .song-side #nav ul li a:hover{
    color: orange;
    
}
header .song-side #nav ul li:hover ul.dropdown{
    display: block;
}
header .song-side #nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
}

header .song-side #nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song-side #nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song-side #nav .search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}

header .song-side .popular-song {
    width: 90%;
    /* height: auto; */
    /* height: 90vh; */
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid #fff; */
}

header .song-side .popular-song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header .song-side .popular-song .pop-song {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}

header .song-side .popular-song .pop-song::-webkit-scrollbar {
    display: none;
}

header .song-side .popular-song .pop-song li {
    min-width: 150px;
    height: 180px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

header .song-side .popular-song .pop-song li:hover {
    background: rgb(105, 105, 170, .1);
}

header .song-side .popular-song .pop-song li .img-play {
    position: relative;
    width: 150px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song-side .popular-song .pop-song li .img-play img {
    width: 100%;
    height: 100%;
}

header .song-side .popular-song .pop-song li .img-play .bi {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

header .song-side .popular-song .pop-song li:hover .img-play .bi {
    opacity: 1;
}

header .song-side .popular-song .pop-song li h5 {
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10.5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
header .song-side .popular-song .pop-song li h5 abbr{
    text-decoration: none;
}
header .song-side .popular-song .pop-song li h5 .subtitle {
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}

header .song-side .popular-artist {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}

header .song-side .popular-artist .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side .popular-artist .h4 .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side .popular-artist .h4 .bi:hover {
    color: #fff;
}

header .song-side .popular-artist .item {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header .song-side .popular-artist .item::-webkit-scrollbar {
    display: none;
}

header .song-side .popular-artist .item li {
    list-style-type: none;
    position: relative;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

header .song-side .popular-artist .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}